<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Карточки пользователей</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            background-color: #000;
            color: white;
            font-family: Arial, sans-serif;
            margin: 0;
        }

        .card {
            background-color: burlywood;
            border: 2px solid #007BFF;
            border-radius: 60px;
            transition: transform 0.3s ease;
            height: 650px;
            width: 350px;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card .card-body {
            padding: 50px;
        }

        .card img {
            width: 100%;
            height: auto;
            border-radius: 20px;
        }

        .card h5 {
            color: #007BFF;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/image/m3.jpg" class="card-img-top" alt="User 1">
                    <div class="card-body">
                        <h5 class="card-title">Иван Иванов</h5>
                        <p class="card-text">ivan.ivanov@example.com</p>
                        <p class="card-text">Дата рождения: 01.01.1990</p>
                        <p class="card-text">Город: Москва</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/image/w1.jpg" class="card-img-top" alt="User 2">
                    <div class="card-body">
                        <h5 class="card-title">Мария Смирнова</h5>
                        <p class="card-text">maria.smirnova@example.com</p>
                        <p class="card-text">Дата рождения: 15.06.1985</p>
                        <p class="card-text">Город: Санкт-Петербург</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/image/m1.jpg" class="card-img-top" alt="User 3">
                    <div class="card-body">
                        <h5 class="card-title">Алексей Петров</h5>
                        <p class="card-text">aleksey.petrov@example.com</p>
                        <p class="card-text">Дата рождения: 23.11.1955</p>
                        <p class="card-text">Город: Казань</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/image/w2.jpg" class="card-img-top" alt="User 4">
                    <div class="card-body">
                        <h5 class="card-title">Анна Кузнецова</h5>
                        <p class="card-text">anna.kuznetsova@example.com</p>
                        <p class="card-text">Дата рождения: 08.03.1992</p>
                        <p class="card-text">Город: Екатеринбург</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/image/m2.jpg" class="card-img-top" alt="User 5">
                    <div class="card-body">
                        <h5 class="card-title">Сергей Васильев</h5>
                        <p class="card-text">sergey.vasilev@example.com</p>
                        <p class="card-text">Дата рождения: 12.09.1988</p>
                        <p class="card-text">Город: Новосибирск</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/static/image/w3.jpg" class="card-img-top" alt="User 6">
                    <div class="card-body">
                        <h5 class="card-title">Вера Дегтярева</h5>
                        <p class="card-text">vera.degtyareva@example.com</p>
                        <p class="card-text">Дата рождения: 02.10.1979</p>
                        <p class="card-text">Город: Новосибирск</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>